<div class="container mt-5">

    <div class="row">

        <div class="col navbar-expand-lg" *ngFor="let district of database">

            <div class="container text-center" >

        <div class="card" style="width: 18rem;">

            <img src="{{district.image}}" class="card-img-top" alt="...">

            <div class="card-body">

              <h5 class="card-title">{{district.District}}</h5>

              <p class="card-text">{{district.description}}</p>

              <a href="#" class="btn btn-primary">for more</a>

            </div>

          </div>

    </div>

    </div>

    </div>